// variables ----------------------------------------------------------
$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$col-nav-bg: #02231c;
$col-nav-col: #4dd8ad;
$col-primary: #4dd8ad;
$col-secundary: #02231c;

//  0 -> fixed, 1 -> fixed with hidding, everything else -> top of page
// set in settings nav-type (class added in navigation.js)
$nav-height: 60px;
$nav-links-font-size: 1rem;
$nav-links-space-x: 20px;
$nav-menu-btn-size: 1.5rem;

//  css reset ---------------------------------------------------------
*::before,
*::after,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

// commmon ----------------------------------------------------------
.d-none {
	display: none;
}
.d-flex {
	display: flex;
}
.d-block {
	display: block;
}
.flex-direction-row {
	flex-direction: row;
}
.flex-direction-column {
	flex-direction: column;
}
.flex-direction-row-reverse {
	flex-direction: row-reverse;
}
.flex-direction-column-reverse {
	flex-direction: column-reverse;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-start {
	justify-content: flex-start;
}
.justify-content-end {
	justify-content: flex-end;
}
.justify-content-stretch {
	justify-content: stretch;
}
.justify-content-around {
	justify-content: space-around;
}
.justify-content-evenly {
	justify-content: space-evenly;
}
.align-items-center {
	align-items: center;
}
.align-items-start {
	align-items: flex-start;
}
.align-items-end {
	align-items: flex-end;
}
.align-items-stretch {
	align-items: stretch;
}
.text-align-center {
	text-align: center;
}
.text-align-left {
	text-align: left;
}
.text-align-right {
	text-align: right;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

// header ------------------------------------------------------------
header {
	height: $nav-height;
	nav {
		// z-index: 1024;
		&.nav-type-0,
		&.nav-type-1 {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
		}
		&.nav-type-1.hidden {
			top: -$nav-height;
		}
		background-color: $col-nav-bg;
		color: $col-nav-col;
		height: $nav-height;
		transition: 0.3s all ease-in-out;

		.container {
			height: $nav-height;
		}

		.nav-logo {
			z-index: 1;
			min-width: 50px;
			width: 50px;
			height: 50px;
			img {
				width: 100%;
				height: 100%;
			}
		}

		.main-nav {
			li {
				position: relative;
				a {
					position: relative;
					z-index: 1;
					color: $col-nav-col;
					background-color: $col-nav-bg;
					font-size: $nav-links-font-size;
					line-height: $nav-links-font-size;
					padding: calc((#{$nav-height} - #{$nav-links-font-size}) / 2)
						$nav-links-space-x;
					display: inline-block;
					cursor: pointer;

					&:hover {
						background-color: $col-primary;
						color: $col-secundary;
					}
				}
				// navigation dropdown styles
				&:hover .dropdown {
					transform: translateY(0);
					z-index: 0;
				}
				.dropdown {
					position: absolute;
					transform: translateY(-100%);
					flex-direction: column;
					min-width: 100%;
					background-color: $col-nav-bg;
					border-radius: 0 0 4px 4px;
					// border-top: 1px solid darken($color: $col-nav-col, $amount: 10);
					// border-bottom: 1px solid darken($color: $col-nav-col, $amount: 10);
					// border-left: 1px solid darken($color: $col-nav-col, $amount: 10);
					// border-right: 1px solid darken($color: $col-nav-col, $amount: 10);
					transition: 0.3s transform ease-in-out;
					a {
						white-space: nowrap;
						border-bottom: 1px solid rgba($color: $col-nav-col, $alpha: 0.2);
						width: 100%;
					}
					li:last-child a {
						border-bottom: none;
					}
				}
				&.dropdown-parent a {
					padding-right: $nav-links-space-x + 10px;
				}
				&.dropdown-parent > a::after {
					content: '\f0d7';
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;
					position: absolute;
					right: 15px;
					top: 50%;
					transform: translateY(-50%);
					z-index: 100;
				}
				&.dropdown-parent:hover > a::after {
					content: '\f0d8';
				}

				&.dropdown-parent > a:hover::after {
					color: $col-nav-bg;
				}
			}
		}
		// when navbar hides dropdowns should hide as well
		&.nav-type-1.hidden .main-nav li:hover .dropdown {
			transform: translateY(-100%);
		}
		.main-nav-mobile {
			position: fixed;
			width: 100%;
			height: 100vh;
			top: 0;
			right: -100%;
			background-color: $col-nav-bg;
			transition: 0.3s all ease-in-out;
			li {
				a {
					position: relative;
					z-index: 1;
					color: $col-nav-col;
					background-color: $col-nav-bg;
					font-size: $nav-links-font-size;
					line-height: $nav-links-font-size;
					display: inline-block;

					&:hover {
						color: darken($color: $col-nav-col, $amount: 20);
					}
				}
			}
		}

		.main-nav-mobile.show {
			right: 0;
		}

		.show-hide-menu {
			position: relative;
			width: 40px;
			height: 40px;
			background: url('../../img/open-menu.svg');
			background-size: 40px;
			background-position: center;
			float: right;
			transition: 0.6s;
			cursor: pointer;
			/* bug in safari strange rotation of svg, still strange for the first time */
			transform-origin: center center;
			transform-box: fill-box;
			&:hover {
				background: url('../../img/open-menu-hovered.svg');
				transform: rotate(180deg);
			}
			&.close {
				background: url('../../img/close-menu.svg');
				transform: rotate(360deg);
			}
		}
	}
}

// pages --------------------------------------------------------------

section {
	height: 200vh;
}

// footer--------------------------------------------------------------

// media queries ++++++++++++++++++++++++++++++++++++++++++++++++++++++

// @media (max-width: 575.98px) { }

@media (min-width: 576px) {
	// common ------------------------------------------------------
	.d-sm-none {
		display: none;
	}
	.d-sm-flex {
		display: flex;
	}
	.d-sm-block {
		display: block;
	}
	.flex-direction-sm-row {
		flex-direction: row;
	}
	.flex-direction-sm-column {
		flex-direction: column;
	}
	.flex-direction-sm-row-reverse {
		flex-direction: row-reverse;
	}
	.flex-direction-sm-column-reverse {
		flex-direction: column-reverse;
	}
	.justify-content-sm-center {
		justify-content: center;
	}
	.justify-content-sm-between {
		justify-content: space-between;
	}
	.justify-content-sm-start {
		justify-content: flex-start;
	}
	.justify-content-sm-end {
		justify-content: flex-end;
	}
	.justify-content-sm-stretch {
		justify-content: stretch;
	}
	.justify-content-sm-around {
		justify-content: space-around;
	}
	.justify-content-sm-evenly {
		justify-content: space-evenly;
	}
	.align-items-sm-center {
		align-items: center;
	}
	.align-items-sm-start {
		align-items: flex-start;
	}
	.align-items-sm-end {
		align-items: flex-end;
	}
	.align-items-sm-stretch {
		align-items: stretch;
	}
	.text-align-sm-center {
		text-align: center;
	}
	.text-align-sm-left {
		text-align: left;
	}
	.text-align-sm-right {
		text-align: right;
	}
	// header -------------------------------------------------------
	// pages --------------------------------------------------------
	// footer -------------------------------------------------------
}

// @media (max-width: 767.98px) { }

@media (min-width: 768px) {
	// commmon ------------------------------------------------------
	.d-md-none {
		display: none;
	}
	.d-md-flex {
		display: flex;
	}
	.d-md-block {
		display: block;
	}
	.flex-direction-md-row {
		flex-direction: row;
	}
	.flex-direction-md-column {
		flex-direction: column;
	}
	.flex-direction-md-row-reverse {
		flex-direction: row-reverse;
	}
	.flex-direction-md-column-reverse {
		flex-direction: column-reverse;
	}
	.justify-content-md-center {
		justify-content: center;
	}
	.justify-content-md-between {
		justify-content: space-between;
	}
	.justify-content-md-start {
		justify-content: flex-start;
	}
	.justify-content-md-end {
		justify-content: flex-end;
	}
	.justify-content-md-stretch {
		justify-content: stretch;
	}
	.justify-content-md-around {
		justify-content: space-around;
	}
	.justify-content-md-evenly {
		justify-content: space-evenly;
	}
	.align-items-md-center {
		align-items: center;
	}
	.align-items-md-start {
		align-items: flex-start;
	}
	.align-items-md-end {
		align-items: flex-end;
	}
	.align-items-md-stretch {
		align-items: stretch;
	}
	.text-align-md-center {
		text-align: center;
	}
	.text-align-md-left {
		text-align: left;
	}
	.text-align-md-right {
		text-align: right;
	}
	// header -------------------------------------------------------
	// pages --------------------------------------------------------
	// footer -------------------------------------------------------
}

// @media (max-width: 991.98px) { }

@media (min-width: 992px) {
	// commmon ------------------------------------------------------
	.d-lg-none {
		display: none;
	}
	.d-lg-flex {
		display: flex;
	}
	.d-lg-block {
		display: block;
	}
	.flex-direction-lg-row {
		flex-direction: row;
	}
	.flex-direction-lg-column {
		flex-direction: column;
	}
	.flex-direction-lg-row-reverse {
		flex-direction: row-reverse;
	}
	.flex-direction-lg-column-reverse {
		flex-direction: column-reverse;
	}
	.justify-content-lg-center {
		justify-content: center;
	}
	.justify-content-lg-between {
		justify-content: space-between;
	}
	.justify-content-lg-start {
		justify-content: flex-start;
	}
	.justify-content-lg-end {
		justify-content: flex-end;
	}
	.justify-content-lg-stretch {
		justify-content: stretch;
	}
	.justify-content-lg-around {
		justify-content: space-around;
	}
	.justify-content-lg-evenly {
		justify-content: space-evenly;
	}
	.align-items-lg-center {
		align-items: center;
	}
	.align-items-lg-start {
		align-items: flex-start;
	}
	.align-items-lg-end {
		align-items: flex-end;
	}
	.align-items-lg-stretch {
		align-items: stretch;
	}
	.text-align-lg-center {
		text-align: center;
	}
	.text-align-lg-left {
		text-align: left;
	}
	.text-align-lg-right {
		text-align: right;
	}
	// header -------------------------------------------------------
	// pages --------------------------------------------------------
	// footer -------------------------------------------------------
}

// @media (max-width: 1199.98px) { }

@media (min-width: 1200px) {
	// commmon ------------------------------------------------------
	.d-xl-none {
		display: none;
	}
	.d-xl-flex {
		display: flex;
	}
	.d-xl-block {
		display: block;
	}
	.flex-direction-xl-row {
		flex-direction: row;
	}
	.flex-direction-xl-column {
		flex-direction: column;
	}
	.flex-direction-xl-row-reverse {
		flex-direction: row-reverse;
	}
	.flex-direction-xl-column-reverse {
		flex-direction: column-reverse;
	}
	.justify-content-xl-center {
		justify-content: center;
	}
	.justify-content-xl-between {
		justify-content: space-between;
	}
	.justify-content-xl-start {
		justify-content: flex-start;
	}
	.justify-content-xl-end {
		justify-content: flex-end;
	}
	.justify-content-xl-stretch {
		justify-content: stretch;
	}
	.justify-content-xl-around {
		justify-content: space-around;
	}
	.justify-content-xl-evenly {
		justify-content: space-evenly;
	}
	.align-items-xl-center {
		align-items: center;
	}
	.align-items-xl-start {
		align-items: flex-start;
	}
	.align-items-xl-end {
		align-items: flex-end;
	}
	.align-items-xl-stretch {
		align-items: stretch;
	}
	.text-align-xl-center {
		text-align: center;
	}
	.text-align-xl-left {
		text-align: left;
	}
	.text-align-xl-right {
		text-align: right;
	}
	// header -------------------------------------------------------
	// pages --------------------------------------------------------
	// footer -------------------------------------------------------
}

// samples ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// Font Awesome in pseudo elements ----------------------------------
// brands
// something::before {
//     font-family: "Font Awesome 5 Brands";
//     content: "\f16d";
//     color: #000;
// }
// other icons
// something::after {
//     font-family: "Font Awesome 5 Free";
//     font-weight: 900;
//     content: "\f0dd";
// }
